<div>  
   <div class="modal-header text-center">
            <div class="mx-auto">
                <h4 class="modal-title"><img src="../../../assets/images/logoutIcon.png" width="10%" alt=""></h4>
            </div>
    </div>
  <div class="modal-body text-center">
            ¿Deseas cerrar sesión?
   </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('Cerrar')">Cerrar sesión</button>
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cerrar')">Volver</button>
       </div>
</div>