

<body style="min-height: 85vh;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" (click)="onClick()">
                <img src="../../../assets/images/logoChatTransp.png" alt="ChatMart Logo" width="50">
            </a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"  *ngIf="!activeUser" id="navbarNav">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/auth/login']">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/auth/register']">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="titulo">Sobre Nosotros</h1>
        <br>
        <p>ChatMart es una emocionante plataforma de comunicación en línea desarrollada con la última tecnología web.</p>
        <p>Nuestro proyecto se centra en brindar a los usuarios una experiencia de chat en tiempo real única y enriquecedora. A través de nuestra aplicación web basada en Angular, los usuarios registrados pueden conectarse, interactuar y comunicarse en tiempo real con amigos, colegas o cualquier persona en todo el mundo.</p>
        <p class="subtitulo">Características destacadas de ChatMart:</p>
        <ul>
            <li>Chat en Tiempo Real: Ofrecemos una experiencia de chat en tiempo real de alta calidad que permite a los usuarios comunicarse de manera instantánea y fluida.</li>
            <li>Sistema de Autenticación Segura: Utilizamos Firebase para garantizar la seguridad de los datos de nuestros usuarios y la gestión de cuentas.</li>
            <li>Inteligencia Artificial: ChatMart integra la potente API de ChatGPT, lo que significa que los usuarios pueden interactuar con un modelo de lenguaje avanzado. Esto les permite obtener respuestas inteligentes a sus preguntas y llevar sus conversaciones a un nivel superior.</li>
        </ul>
        <p>En ChatMart, estamos comprometidos en proporcionar una experiencia de comunicación en línea excepcional, manteniendo la seguridad y la privacidad de nuestros usuarios como nuestra máxima prioridad.</p>
    </div>

    
</body>
<app-footer></app-footer>
