.chat-container {
    width: 900px;
    height: 430px;
    margin: 20px auto;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background: #e0e0e0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chat-header h2 {
    color: #333;
    text-align: center;
  }
  
  .chat-messages {
    padding: 10px;
    height: 320px;
  }
  
  .message.received {
    background: #e0e0e0;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }



  .scrollable-list {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores que soportan esta propiedad */
  }
  
  .scrollable-list::-webkit-scrollbar {
    width: 0.5rem; /* Ancho de la barra de desplazamiento en navegadores WebKit (por ejemplo, Chrome) */
  }
  
  .scrollable-list::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar de la barra de desplazamiento en navegadores WebKit */
  }
  
  .scrollable-list::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo de la barra de desplazamiento en navegadores WebKit */
  }
  
  
  .message.sent {
    background: #49afbc;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .chat-input {
    background: #e0e0e0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .chat-input input {
    width: 80%;
    padding: 8px;
    border: none;
    background: #f3f3f3;
    color: #333;
    border-bottom-left-radius: 10px;
  }
  
  .send {
    width: 18%;
    padding: 8px;
    border: none;
    background: #629ea6;
    color: #fff;
    margin-right: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .clear{
    width: 18%;
    padding: 8px;
    border: none;
    background: #626566;
    color: #fff;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-input button:hover {
    background: #0097a7;
    background-color: rgb(32, 210, 230);  
  }




.user-message-text {
  text-align: left;
 
}

.openai-message-text {
  text-align: left;
}



@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.spinner {
  display: flex;
  width: 50px;
  height: 1em;
  margin-left: 10px;
}

.spinner > div {
  width: 50px;
  height: 1em;
  justify-content: space-between;
  background-color: #676a6e94;
  display: flex;
  animation: blink 1s infinite;
}

.spinner > div:nth-child(2) {
  animation-delay: 0.2s;
}

.spinner > div:nth-child(3) {
  animation-delay: 0.4s; 
}


  