.chat-container {
    width: 900px;
    height: 400px;
    margin: 20px auto;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background: #e0e0e0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chat-header h2 {
    color: #333;
    text-align: center;
  }
  
  .chat-messages {
    padding: 10px;
    height: 320px;
  }
  
  .message.received {
    background: #e0e0e0;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .scrollable-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .message.sent {
    background: #49afbc;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .chat-input {
    background: #e0e0e0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .chat-input input {
    width: 80%;
    padding: 8px;
    border: none;
    background: #f3f3f3;
    color: #333;
    border-bottom-left-radius: 10px;
  }
  
  .send {
    width: 18%;
    padding: 8px;
    border: none;
    background: #629ea6;
    color: #fff;
    margin-right: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .clear{
    width: 18%;
    padding: 8px;
    border: none;
    background: #626566;
    color: #fff;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-input button:hover {
    background: #0097a7;
    background-color: rgb(32, 210, 230);
  }




.user-message-text {
  text-align: left;
 
}

.openai-message-text {
  text-align: left;
}

  