
<div class="popup">  
    <div class="popup-content">
        <div class="modal-header text-center">
            <div class="mx-auto">
                <h4 class="modal-title"><img src="../../../assets/images/logoChatTransp.png" width="30%" alt=""></h4>
            </div>
        </div>
        <div class="modal-body text-center">
            ¿Deseas limpiar el chat?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn pastel-blue" (click)="activeModal.close('Eliminar')">Confirmar</button>
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cerrar')">Cancelar</button>

        </div>  
    </div>
                            
</div>
