.imgEnviar:active{
    transform: scale(0.9);
 }

 .pastel-green {
    background-color: #a0d468;
    color: #ffffff; 
    border: 1px solid #a0d468; 
  }

  .pastel-blue {
   background-color: #588fdb; 
    color: #ffffff; 
    border: 1px solid #588fdb; 
  }
  