<div class="container mt-5">
  <div class="row">
    <div class="col-9 mx-auto">     
      <!-- Pestañas -->
      <ul class="nav nav-tabs">
        <li class="nav-item" (click)="changeTab('amigos')">
          <a class="nav-link" [class.active]="activeTab === 'amigos'">Amigos</a>
        </li>
        <li class="nav-item" (click)="changeTab('solicitudes')">
          <a class="nav-link" [class.active]="activeTab === 'solicitudes'">Solicitudes de Amistad</a>
        </li>
      </ul>

      <!-- Contenido de las pestañas -->
      <div *ngIf="activeTab === 'amigos'">
        <div class="input-group mb-3">
          <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Buscar amigo">
          <div class="input-group-append">
            <button class="btn btn-light " type="button" (click)="searchFriends()" style="width: 40px; height: 40px; background: url('../../../assets/images/R.png') no-repeat center center; background-size: cover;"></button>
          </div>
          <div class="input-group-append  ml-1">
            <button class="btn pastel-blue" style=" margin-left: 10px;" (click)="openAddFriendModal()">Añadir amigo</button>
          </div>
        </div>

        <!-- Lista de amigos -->
        <ul class="list-group mt-3">
          <li *ngFor="let amigo of amigos" class="list-group-item d-flex justify-content-between align-items-center">
           {{ amigo.displayName }}
            <button class="btn btn-danger" (click)="openDeleteConfirmation(amigo)" >Eliminar</button>
          </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="amigos.length === 0" class="text-center">
          Tu lista de amigos está vacía.
        </div>
      </div>
   

      <div *ngIf="activeTab === 'solicitudes'">
        <ul class="list-group mt-3">
          <li *ngFor="let solicitud of solicitudes" class="list-group-item d-flex justify-content-between align-items-center">
            <p style="color: rgb(37, 37, 98);">{{ solicitud.remitente.displayName }}</p>
            <div class="btn-group">
              <button class="btn pastel-green" (click)="acceptFriendRequest(solicitud.remitente.uid)" >Aceptar</button>
              <button class="btn btn-danger" >Rechazar</button>
            </div>
          </li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div *ngIf="solicitudes.length === 0" class="text-center">
          No tiene solicitudes de amistad.
        </div>
      </div>

    </div>
  </div>
</div>
