<div  class="popup">
    <div class="popup-content">
     <h4 class="text-center">Buscar amigo</h4>
     <br>

     <!-- Formulario de búsqueda de amigos -->
     <div class="row form-group">
        <div class="col-10">
            <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Ingrese nombre de usuario">
        </div>
        <div class="col-2">
            <button class="btn btn-light " type="button" (click)="searchUsers()" style="width: 40px; height: 40px; background: url('../../../assets/images/R.png') no-repeat center center; background-size: cover;">               
            </button>
        </div>
    </div>
    
    <ul class="list-group mt-3 scrollable-list">
      <li *ngFor="let amigo of searchResults" class="list-group-item d-flex justify-content-between align-items-center">
        {{ amigo.displayName }}
        <ng-container *ngIf="!userStates[amigo.uid].isFriend && !userStates[amigo.uid].hasPendingReq && !userStates[amigo.uid].sentConfirmation">
          <button class="btn pastel-green" (click)="addFriend(amigo)">Enviar solicitud</button>
        </ng-container>
        <ng-container *ngIf="userStates[amigo.uid].sentConfirmation">
          <button class="btn custom-button" [disabled]="true">Enviada</button>
        </ng-container>
        <ng-container *ngIf="userStates[amigo.uid].isFriend">
          <p style="color: rgb(49, 150, 76);">Este usuario ya hace parte de tus amigos</p>
        </ng-container>
        <ng-container *ngIf="userStates[amigo.uid].hasPendingReq">
          <p style="color: rgb(32, 108, 239);">Solicitud de amistad ya enviada</p>
        </ng-container>
      </li>
    </ul>
    
    
    
    <div class="text-center mt-4">
      <button class="btn btn-secondary" (click)="activeModal.close('Cerrar')">Cerrar</button>
    </div>
 </div>
