<div class="col">


    <div class="container-fluid amigos-list">
        <div class="input-group mb-3">
            <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Buscar amigo">
            <div class="input-group-append">
              <button class="btn btn-light " type="button" (click)="searchFriends()" style="width: 40px; height: 40px; background: url('../../../assets/images/R.png') no-repeat center center; background-size: cover;"></button>
            </div>
            
          </div>
      <ul class="list-group mt-3 scrollable-list">
        <li
          *ngFor="let amigo of amigos"
          class="list-group-item d-flex justify-content-between align-items-center friend-item"
          (click)="seleccionarAmigo(amigo)"
          [ngClass]="{ selected: amigo === amigoSeleccionado }"
        >
          {{ amigo.displayName }}
        </li>
      </ul>
      <br />
      <br />
      <br />
      <br />
      <div *ngIf="amigos.length === 0" class="text-center">
        Tu lista de amigos está vacía.
      </div>
    </div>

</div> 