
    <div class="popup">  
        <div class="popup-content">
        <div class="modal-header" >
            <h4 class="modal-title">Confirmación</h4>
            <button type="button" class="close" aria-label="Cerrar" (click)="activeModal.dismiss('Cerrar')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
                ¿Deseas eliminar a <span style="color: rgb(64, 64, 232);">{{friendDisplayName}}</span> de tus amigos?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn pastel-blue" (click)="activeModal.close('Eliminar')">Confirmar</button>
            </div>  
        </div>
                                
    </div>
